<p>company-list works!</p>


<h2 align="center">Company Details</h2>

<div class="container">
  <table class="table table-striped">
    <tbody>

      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phn No</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let c of comp">
        <td>{{c.id}}</td>
        <td>{{c.cname}}</td>
        <td>{{c.caddr}}</td>
        <td>{{c.phn}}</td>
        <td>{{c.cemail}}</td>
        <td>{{username}}</td>
        <td>{{password}}</td>
        <td>
          <i class="fa fa-trash" (click) = "deleteComp(c)" aria-hidden="true"></i> &nbsp;
          <!-- <i class="fa fa-pencil-square-o" [routerLink] = "['update']" [state] = "s" aria-hidden="true"></i> &nbsp; -->
          <!-- <a class="btn" [routerLink]="['update']" [state]="s">
            <i class="fa fa-edit"></i>
        </a>
          <a [routerLink] ="['employeedetails',s.id]">ShowDetails</a> -->
        </td>
      </tr>
    </tbody>

  </table>
  <button style="background-color:cornflowerblue; font-style: calc(); margin-left: 500px;"
    (click)="goBack()">BACK</button>

</div>

<router-outlet></router-outlet>