

  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Employee Registration</h2>

              <form [formGroup]="registrationForm">

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Name</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="ename"/>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" formControlName="email" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Mobile no</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="mobile"/>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Designation</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="designation" />
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Username</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="username"/>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password"/>
                </div>          

                <div class="d-flex justify-content-center">
                  <button type="button" (click)="registerEmp()"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





